:root {
  --main-color: hsl(194, 41%, 51%);
  --main-color-med: hsla(194, 66%, 61%, 0.5);
  --main-color-low: hsl(194, 66%, 61%, 0.1);
}
/* styling map */

.contact-map {
  width: 100%;
  height: 400px;
}
/* hamburger */
.hamburger {
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
}
.hamburger:hover {
  opacity: 0.7;
}
.hamburger.is-active:hover {
  opacity: 0.7;
}
.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
  background-color: #000;
}

.hamburger-box {
  width: 40px;
  height: 24px;
  display: inline-block;
  position: relative;
}

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px;
}
.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
  width: 40px;
  height: 4px;
  background-color: #000;
  border-radius: 4px;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease;
}
.hamburger-inner::before,
.hamburger-inner::after {
  content: "";
  display: block;
}
.hamburger-inner::before {
  top: -10px;
}
.hamburger-inner::after {
  bottom: -10px;
}
.hamburger--arrow-r.is-active .hamburger-inner::before {
  transform: translate3d(8px, 0, 0) rotate(45deg) scale(0.7, 1);
}

.hamburger--arrow-r.is-active .hamburger-inner::after {
  transform: translate3d(8px, 0, 0) rotate(-45deg) scale(0.7, 1);
}

/* end of hamburger */

/* end fof map */
.navbar {
  background-color: white;
}
.navbar-is-active {
  background-color: var(--main-color);
  transition: ease-in-out 0.6s;
}
.navbar-nav {
  align-items: center;
  justify-items: center;
}
.nav-item {
  display: inline-block;
  margin-right: 2rem;
  font-weight: 600;
}
.nav-link {
  text-decoration: none;
  color: black;
}
.nav-link:hover {
  color: #000;
  opacity: 0.7;
}
.comprar-button{
  background-color: var(--main-color);
  padding: 15px;
  color: white;
  border-radius: 5px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}
.comprar-button:hover{
  color: white;
  opacity: 0.9;
}
/* end fo navbar */

/* main title */

.jumbotron {
  background-image: url("./pics/peter-wendt--r5KSMkyoSc-unsplash.jpg");
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 70vh;
}
/* end of main title */
.section-picture {
  width: 100%;
}

.nuestro-productos {
  background-color: var(--main-color-low);
  width: 100%;
}

@media screen and (max-width: 767px) {
  .navbar-nav {
    height: 100vh;
    justify-content: center;
    font-size: 1.3rem;
    text-align: center;
  }
  .nav-item {
    margin-right: 0;
    margin-bottom: 2rem;
  }

  .nav-item .nav-link {
    color: white;
  }
  .comprar-button{
  color: white;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
}
}
