:root {
  --main-color: hsl(256, 35%, 47%);
  --main-color-med: rgba(100, 78, 162, 0.5);
  --main-color-low: hsla(256, 35%, 47%, 0.1)
}
/* styling map */

.contact-map {
  width: 100%;
  height: 400px;
}
.navbar {
  background-color: white;
}
.navbar-is-active {
  background-color: var(--main-color);
}
.navbar-nav {
  height: 100vh;
  background-color: var(--main-color);
}

.jumbotron {
  background-image: url("./pics/peter-wendt--r5KSMkyoSc-unsplash.jpg");
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 70vh;
}

.section-picture {
  width: 100%;
}

.nuestro-productos {
  background-color: var(--main-color-low);
  width: 100%;
}